@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
    overflow-x: hidden;
    font-family: Merriweather;
}

.side-panel ul {
    padding: 0;
}

.side-panel li {
    list-style: none;
    /* padding: 0;
    margin: 0; */
}

.side-panel a{
    color: #121212;
    text-decoration: none;
}

.side-panel {
    /* border: 2px solid #d5d5d5; */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}